<aside class="right-sidebar">
    <nav class="toc">
        <h3>CONTENTS</h3>
        <ul>
            <li><a href="#">Top</a></li>
            {{ .SidebarLinks }}
        </ul>
    <br />
    <h3>SOCIALS:</h3>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/nunofrribeiro" target="_blank">linkedin</a>
            </li>
            <li>
                <a href="https://x.com/diasapensar" target="_blank">twitter</a>
            </li>
        </ul>
    </nav>
</aside>
